@{
    ViewData["Title"] = "Serviços";
}
<h1>@ViewData["Title"]</h1>

<h3>Serviços</h3>

<ul>
    <li>Restaurações
        <ul>
            <li>Restauração Simples</li>
            <li>R$ 100,00</li>
        </ul>
    </li>
    <li>Limpeza
        <ul>
            <li>Limpeza Simples</li>
            <li>R$ 80,00</li>
        </ul>
    </li>
</ul>
