@model List<ItemServico>

<h2>Listagem dos serviços cadastrados</h2>

<table border="1">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </tr>

    </thead>

    <tbody>
        @foreach (ItemServico item in Model)
        {
            <tr>
                <td>@item.item</td>
                <td>@item.quantidade</td>
                <td>@item.valor</td>
            </tr>
            
        }

    </tbody>

</table>
<p>Total de serviços: @Servico.TotalizaServico()</p>