@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-center">
    <h1 class="display-4">PetVet</h1>
    <h3>Onde seu animal fica bem!</h3>
    
</div>
<p><center>
<img src="https://olharanimal.org/wp-content/uploads/2017/12/Portugal_Madeira_projetocaudasfelizes_1.jpg" alt="animais PETVET" align="middle">
</center></p>

<p>Na Pet Vet seu animal é tratado com todo carinho que ele merece.</p>
<p>Aqui temos atendimentos de clínica geral, vacinas e castração, tudo para que ele tenha saúde de ferro para brincar!</p>
<br>
<p>Agende <a href="/Home/PreAgendamento">aqui</a> sua necessidade e já conte com os melhores profissionais par cuidar do seu melhor amigo!</p>
</body>

<style>
    body{
        background-color: lightblue;
    }
</style>
