@{
    ViewData["Title"] = "Serviços da Clínica";
}
<h1>@ViewData["Title"]</h1>

<br>
<ul>

    <ul>
        <li><strong>Atendimento Clínica Geral</strong></li>
        <li>R$ 300,00</li>
    </ul>
    <ul>
        <li><strong>Cirurgia Castração</strong></li>
        <li>R$ 2.000,00</li>
    </ul>
    <ul>
        <li><strong>Vacinas</strong></li>
        <li>R$ 120,00</li>
    </ul>

</ul>